<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="minegocioEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=remote;password=1223;persistsecurityinfo=True;database=minegocio&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
    </providers>
  </entityFramework>
  <appSettings>
    <clear />
    <add key="admin" value="si" />
    <add key="serverSelectedIndex"  value="0" />
    
    <add key="serverIp" value="127.0.0.1" />
    <add key="deviceIp" value="192.168.100.3" />
    
    <add key="serverIp1" value="100.0.0.1" />
    <add key="deviceIp1" value="10.130.63.119" />
    
    <add key="serverIp2" value="127.0.0.1" />
    <add key="deviceIp2" value="10.35.230.183" />
    
    <add key="server" value="" />
    <add key="device" value="" />
    <add key="devicePort" value="" />
  
  </appSettings>
</configuration>
