<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ControlStock.My.MySettings.MySqlConnString" connectionString="server=localhost;user id=root;password=electronica123;database=controlstock" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
